#button-send {
	display: none;
}

#snackbar {
	visibility: hidden;
	min-width: 200px;
	margin-left: -100px;
	background-color: #424242;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	padding: 12px;
	position: fixed;
	font-size: 18px;
	z-index: 5000;
	left: 50%;
	top: 30px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.3s, fadeout 1.0s 1.8s;
	animation: fadein 0.3s, fadeout 1.0s 1.8s;
}

@-webkit-keyframes fadein {
	from {top: 0; opacity: 0;} 
	to {top: 30px; opacity: 1;}
}

@keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {top: 30px; opacity: 1;} 
	to {top: 0; opacity: 0;}
}

@keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to {top: 0; opacity: 0;}
}
